<md-dialog aria-label="create" ng-cloak>
	<form name="msgForm" ng-submit="submit()">
		<md-dialog-content>
			<md-toolbar layout="row" layout-align="center center">
				<h3 class="md-title">Новое сообщение</h3>
			</md-toolbar>
			<div class="form-cont">
				<div class="wrap-input">
					<label>Кому:</label>
					<mail-input ng-model="newMsg.mailAddress" placeholder="начните набирать для поиска"></mail-input>
					<div class="err" ng-show="error.email">Не валидный email</div>
				</div>
				<div class="wrap-input">
					<label>Тема:</label>
					<input name="subj" id="subj" ng-model="newMsg.subject">
					<div class="err" ng-show="error.subj">Поле должно быть заполнено</div>
				</div>
				<md-divider></md-divider>
				<textarea id="bodytxt" ng-model="newMsg.body" placeholder="Введите текст сообщения">
				</textarea>
			</div>
		</md-dialog-content>
		<md-progress-linear md-mode="indeterminate" ng-if="writingNow"></md-progress-linear>
		<md-dialog-actions layout="row">
			<md-button class="md-icon-button md-accent" ng-click="cancel()" aria-label="close">
				<ng-md-icon icon="close" size="24"></ng-md-icon>
			</md-button>
			<md-button type="submit" class="md-icon-button md-accent" aria-label="submit">
				<ng-md-icon icon="save" size="24"></ng-md-icon>
			</md-button>
		</md-dialog-actions>
	</form>
	<md-progress-linear md-mode="indeterminate" ng-if="writingNow"></md-progress-linear>
</md-dialog>
