/* mail-app */
.mailApp {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	md-toolbar {
		min-height: 56px;
		max-height: 56px;
		height: 56px;
	}

	.mailAppCont {
		position: relative;
		width: 100%;
		height: calc(100% - 56px);

		.mailFolders {
			min-width: 250px;
			width: 250px;

			a {
				text-decoration: none;
				padding: 10px 5px 5px 10px;
				line-height: 24px;
				font-size: 16px;
				font-weight: bold;
				color: #3f51b5;

				&.active {
					color: #ff9100;
				}
			}
		}

		.messages {
			position: relative;
			width: calc(100% - 250px);

			messages {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
}