.contacts {
	position: relative;
	width: 100%;
	height: 100%;

	md-toolbar {
		min-height: 56px;
		max-height: 56px;
		height: 56px;
	}

	md-content {
		//position: relative;
		//height: calc(100% - 56px);
		position: absolute;
		width: 100%;
		top: 56px;
		bottom: 0;
	}
}

form[name="contactForm"] {
	width: 400px;

	.form-cont {
		padding: 8px;

		md-input-container {
			width: 98%;
			margin: 8px 0 2px 0;
		}
	}
}

.del-confirm {
	padding: 8px;
	color: black;

	.md-title {
		margin: 5px 0;
		text-align: center;

		&.accent {
			color: darkblue;
		}
	}

	.action {
		margin-top: 20px;
	}
}