.mail-input-container {
	position: relative;
	width: 100%;

	.mail-input {
		position: relative;
		width: 100%;
		height: 30px;
	}

	.mail-input-select {
		position: absolute;
		box-sizing: border-box;
		z-index: 5;
		max-height: 75px;
		overflow-x: hidden;
		overflow-y: auto;

		.mail-input-select-item {
			position: relative;
			box-sizing: border-box;
			width: calc(100% - 10px);
			height: 25px;
			margin: 0;
			padding: 0 5px;
			box-sizing: border-box;
			overflow-x: hidden;
			cursor: pointer;

			&:hover {
				background-color: lightgreen;
			}
		}
	}
}