/* sign in */
.form-login {
	h2 {
		margin: 100px 0 25px 0;
	}

	md-input-container {
		width: 250px;
	}

	button {
		margin-top: 50px;
	}
}

.login-error {
	position: absolute;
	width: 250px;
	height: 50px;
	border-radius: 5px;
	color: red;
	font-weight: bold;
	top: -60px;
	left: calc(50% - 125px);
	background-color: rgba(255, 253, 231, 0.5);
	box-shadow: 0 0 1px 1px #cccccc;
}

@-webkit-keyframes Login-Error-Animation {
	0% {top: -60px;}
	25% {top: 10px;}
	75% {top: 10px;}
	100% {top: -60px;}
}

.loginErrorShow {
	-webkit-animation: Login-Error-Animation 3s ease-out;
}
